
# BEGIN: Configuración de CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>
# END: Configuración de CORS


# Establece el archivo inicial como home.html en lugar de index.php
DirectoryIndex html/home.html

# Habilitar la reescritura de URL
RewriteEngine On

# Opcional: Redirige todas las solicitudes a index.php si no se encuentra el archivo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
